body{
font-family: Arial;
background:#e5ddd5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.chat-container{
width:400px;
height:600px;
background:white;
border-radius:10px;
display:flex;
flex-direction:column;
box-shadow:0 0 10px rgba(0,0,0,0.3);
overflow:hidden;
}

.header{
background:#075e54;
color:white;
padding:15px;
text-align:center;
font-size:18px;
}

.chat-box{
flex:1;
padding:10px;
overflow-y:auto;
display:flex;
flex-direction:column;
}

.message{
max-width:70%;
padding:10px;
margin:5px;
border-radius:10px;
font-size:14px;
}

.user{
background:#dcf8c6;
align-self:flex-end;
}

.bot{
background:#f1f0f0;
align-self:flex-start;
}

.input-area{
display:flex;
border-top:1px solid #ccc;
}

input{
flex:1;
padding:10px;
border:none;
outline:none;
font-size:14px;
}

button{
background:#075e54;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;
}

button:hover{
background:#0b7d6c;
}